*{
	margin: 0;
	padding: 0;
}

body{
	font-family: arial
}

#login{
	float: right;
	width: 50%;
}

.error{
	padding: 10px;
	border-radius: 10px;
	color: red;
	margin: 0 50px 20px 0;
	text-align: center;
}

.error ul {
	list-style-type: none;
}

#wrapper {
	width: 100%;
	margin: auto;
}

input[name=login]:hover, input#login_btn:hover {
	background-color: #3b5998;
}

input[name=login] {
	padding: 10px;
	background-color:  #29487d;
	color: white;
	cursor: pointer;
	border:  1px solid black;
	#border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	box-sizing: border-box;
	text-shadow: none;
}

#blue_box {
	background: #3b5998;
	height: 82px;
}

#funbook {
	width: 1000px;
	height: 82px;
	margin: auto;
}

#writing {
	float: left;
	color: white;
	line-height: 82px;
	font-family: arial;
	font-weight: bold;
	font-size: 40px;
}

#box {
	float: right;
	height: 82px;
	width: 50%;
}

#email {
	float: left;
	margin-top: 10px;
}

#password {
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

#button {
	float: left;
	width: 50px;
	margin-top: 27px;
}

label {
	display: block;
	font-family: arial;
	color: white;
	font-size: 12px;
}

#space {
	width: 20px;
	float: left;
	height: 82px;
}

input#login_btn{
	font-size: 11px;
	padding: 6px 7px;
	background-color: #4267b2;
	border:  1px solid #29487d;
	margin-top: 1px;
}

input[type=text] {
	height: 20px;
	margin-top: 5px;
}

input[type=password] {
	height: 20px;
	margin-top: 5px;
}

#none {
	float: left;
	width: 60%;
}

#register {
	float: right;
	width: 40%;
}

.clr{
	clear: both;
}

#information {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}

#none h2 {
	margin-top: 40px;
	color: #333;
}

#register h2 {
	font-size: 36px;
	color: #333;
}

#register h4 {
	color: #333;
}

#full {
	width: 100%;
	background: #e9ebee;
	overflow: hidden;
}

#register form {
	color: #333;
}

input[name=register] {
	font-size: 19px;
	padding: 7px 20px;
	background-color: #69a74e;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	color: white;
}

input[name=register]:hover {
	background-color: #79bc64;
}